<section>
  <h1>About</h1>

  <p>
    Using core libraries from Angular, Angular Material and Angular Material SDK
    this application is a playground to experiment with the project structure
  </p>

  <p>
    Few key moments reviewed. Using <code>./projects/</code> folder we can
    modularise and apply contract development for very big complex products.
    Using lazy loading for angular modules withing route and also dynamically
    loading standalone components we can reduce the load to the customer.
    Further considerations must abide to web browser performance and assets size
    optimisation without sactificing functionality. Angular is suited for
    project which is growing with features and suitable for long term support
    and can have strong standards
  </p>

  <p>
    Another part, is possible use less angular as possible, to be less locked on
    Angular side. This is why use of rxjs or similar complex libraries should be
    simple and optimal at it's core.
  </p>
</section>
